doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        link(rel='stylesheet', href='https://necolas.github.io/normalize.css/3.0.2/normalize.css')
        link(rel='stylesheet', href='css/mystyle.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext')


    body
        nav.navbar
            .container
                h3.logo
                    a(href='/') Watson-Jamnav Demo

            // /.container
        // /.navbar
        .container
            .inputArea
                img(src='/img/watson.png' style="width: 131px; height: 100px; margin: 20px auto; display: block")
                fieldset
                    input#message.enter(type='text', name='enter', value='')
                    label(for='text') Ask Watson here
                    .after
                fieldset
                    button
                        | Ask
                        | Watson
                div.myaudio(style="margin: 20px auto")

                    //audio#sound1(src='voice.mp3', preload='auto')


    script.
        $(".myaudio").hide();
        $(document).ready(function () {
            var geoData;



            $("button").click(function () {
                var x = document.getElementById("geotext");
                var query = document.getElementById('message').value;

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var lat = position.coords.latitude
                        var long = position.coords.longitude
                        $.post("/",
                            {
                                query: query,
                                lat: lat,
                                long: long
                            },
                            function (data, status) {
                                console.log(data);
                                console.log(status);
                                if (status === "success") {
                                    //document.getElementById('sound1').play();

                                    var voice = "voice.mp3";
                                    $('<audio src="/' + voice + '?noCache=' + Math.floor(Math.random() * 1000000) + '" type="audio/mpeg" autoplay controls></audio>');
                                    $(".myaudio").show();


                                }

                            });

                        $(".myaudio").hide();

                    });

                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }




            });
        });


