doctype html
html(lang='en')
    head
        script.
          var lat, long;
          if (navigator.geolocation) {
               navigator.geolocation.getCurrentPosition(function (position) {
                    lat = position.coords.latitude
                    long = position.coords.longitude
                   console.log(lat+" "+long)
               });

           } else {
               x.innerHTML = "Geolocation is not supported by this browser.";
           }
        meta(charset='UTF-8')
        title Watson-Jamnav-Demo
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js')
        script(src="https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js")
        link(rel='stylesheet',href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css')
        script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js')
        link(rel='stylesheet', href='https://necolas.github.io/normalize.css/3.0.2/normalize.css')
        link(rel='stylesheet', href='css/mystyle.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext')
        link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css')
    body
        //nav.navbar
            .container
                h3.logo
                    a(href='/') Watson-Jamnav Demo

            // /.container
        // /.navbar
        .container
            .inputArea.card
                .content

                    img(src='/img/jamnav-logo.png' style="padding-top: 35px;width: 200px; height: 100px; margin: 20px auto; display: block")
                    fieldset
                        input#message.enter(type='text', name='enter', value='', placeholder="Ask me a question")
                    fieldset.button-holder
                        button
                            | Talk to API
                    .map-container(style="margin: 16px auto")
                        #map

        .container
            h4(style="text-align: center") Powered by the JAMNAV API and IBM's Watson
                    //audio#sound1(src='voice.mp3', preload='auto')


    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpxBGCeQkVh7HU1FlX8MIxJhqj5_GVPEM")

    script.
        //$(".map-container").hide();

        //- Google maps stuff


        var lat, long;
        var map;
        function initMap(data) {
          var uluru = {lat: 18.014251599999998, lng: -76.75152489999999};
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru,
            zoom: 12
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            icon: {
              path: google.maps.SymbolPath.CIRCLE,
              strokeColor: '#641E16',
              scale: 10
            }
          });

          for(var x=0; x<data.length;x++){
            console.log('adding markers...')
            latitude = data[x].geometry.coordinates[1];
            longitude = data[x].geometry.coordinates[0];
            var myLatlng = new google.maps.LatLng(latitude,longitude);
            var marker = new google.maps.Marker({
                position: myLatlng,
                title:"Hello World!",
                'map': map
            });
          }

        }
        $.LoadingOverlay("show");
        if (navigator.geolocation) {
             navigator.geolocation.getCurrentPosition(function (position) {
                $.LoadingOverlay("hide");

                lat = position.coords.latitude
                long = position.coords.longitude
             });

         } else {
             x.innerHTML = "Geolocation is not supported by this browser.";
         }

        $(document).ready(function () {
            initMap([])
            $("button").click(function () {
                $.LoadingOverlay("show");
                var x = document.getElementById("geotext");
                var query = document.getElementById('message').value;
                console.log('button click occured')
                $.post("/",
                    {
                      query: query,
                      lat: lat,
                      long: long
                    },
                    function (data, status) {
                    $.LoadingOverlay("hide");
                      console.log(data);
                      console.log(status);
                      if (status === "success") {
                        initMap(data.features);
                        console.log(data.features)

                          //- document.getElementById('sound1').play();

                           var voice = "voice.mp3";
                           $('<audio src="/' + voice + '?noCache=' + Math.floor(Math.random() * 1000000) + '" type="audio/mpeg" autoplay controls></audio>');

                          //$(".map-container").show();


                      }
                    }
                  );
                        //$(".map-container").hide();
            });
        });
